


<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>index</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
        <link rel="stylesheet" href="../css/shards.min.css">
    </head>
<body>
<div class="container">
    <div th:fragment="header">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#" th:href="@{/home}">Home</a>
                    <ul class="nav navbar-nav">
                        <li><a href="#" th:href="@{/customers/getAll}">Customers</a></li>
                        <li><a href="#" th:href="@{/bankdetails/getAll}">Bank Details</a></li>
                        <li><a href="#" th:href="@{/addCustomer}" sec:authorize="hasAuthority('ADMIN')">Add Customer</a></li>
                        <li><a href="#" th:href="@{/importCustomers}">Import Customer CSV file to database</a></li>
                        <li><a href="#" th:href="@{/performtransaction}">Perform Transaction</a></li>
                        <li><a href="#" th:href="@{/logout}">Sign out</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="welcome">
            <span sec:authorize="isAuthenticated()"> <span sec:authentication="name"></span></span>
        </div>
        <div class="jumbotron">
            <div class="row text-center">
                <div class="">
                    <h2>Welcome to Customer Transaction Management System</h2>
                </div>
            </div>
            
        </div>
    </div>
</div>
</body>
</html>